/************************* initialisation */
*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*:after {
    box-sizing: inherit;
}

/* ------------------------------------------------------------------------------------------------------- */
body {
    display: flex;
    /* On défini la direction de l'axe principal comme étant vertical */
    flex-direction: column;
    min-width: 100vw;
}

/* navigation principal */

/* les conteneur div autour de chaque section */
.global {
   display: flex;
   justify-content: center;
  /* align-items: center; */
   min-width: 100%;
   border: 1px solid #aaa;
   min-height: 100vh;
}

.global section{}

.global section,
.global header,
.global footer {
    display: flex;
    flex: 0 1 1000px;
    /* border: 1px solid #aaa; */
    background-color: rgba(0, 0, 0, .1);
}



#entete {
   /* background-color: rgb(203, 166, 102); */
    background-image:linear-gradient(90deg, #f00, #00f);
    min-height: 1vh;
    position: sticky;
    top: 0;
}
#entete header {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* permet de définir le référenciel pour le menu */
    position: relative;
    
}

#menu {
    background-color: rgb(201, 106, 106);
}

#accueil {
    background-color: aquamarine;
}

#inscription {
    background-color: rgb(255, 214, 127);
}

#tableau {}

#galerie {}

#article {}

#galerie {}

#video {}

h1 {
    font-size: clamp(1.5rem, 1.0833rem, + 6.6667vw, 3.5rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: clamp(1.75rem, 0.0833rem + 5.3333vw, 3.75rem);
    margin-top: 10vh;
}

h2 {
    margin-top: 10vh;
}